#gameName{
    font-size: 2.8em;
    font-weight: lighter;
    text-shadow: -1px 0px rgb(150, 150, 150);
    display: flex;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    margin: 0;
    padding: 0.5em;
    color: rgb(12, 12, 12);
    background-color: rgb(209, 33, 33); 
}

#container{
    width: 70vw;
    height: 35vw;
    max-width: 100%;
    max-height: 50%;
    display: flex;
    flex-flow: column;
    background-color: white;
    margin: auto;
    margin-top: 3vh;
    border-style: solid;
    border-width: 15px;
    border-radius: 10px;
    border-color: rgb(209, 33, 33);
}

.containerRow{
    flex-grow: 1;
    display: flex;
    flex-flow: row;
}

.containerBox{
    flex-grow: 1;
}

.filled{
    background-color: black;
}

#xPos, #yPos{
    visibility: hidden;
    margin: 0;
    position: fixed;
}

form{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    box-sizing: border-box;
}

#drawMode{
    width: 20vw;
}

legend{
    padding: 5px 10px 5px 10px;
    font-weight: 600;
    font-size: 1.2em;
    background-color: rgb(184, 184, 184);
}